fastapi
uvicorn[standard]

torch
Pillow
numpy

transformers
sentence-transformers

langchain
langchain-community
langchain-text-splitters

chromadb

unstructured
unstructured[pdf]
python-multipart

pydantic
huggingface-hub
tqdm
requests
